<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Decks - RiftCards</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo">RiftCards</div>
            <nav class="menu">
                <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="cartas.html">Ver Cartas</a></li>
                    <li><a href="deck-builder.html">Montar Deck</a></li>
                    <li><a href="meta.html">Meta Decks</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container main-titulos">
        <h1 class="titulo">Meta Decks Atuais</h1>
        
        <div class="meta-tier-list">
            <h2>Tier 1</h2>
            <div class="meta-deck-item">
                <div class="deck-info">
                    <h3>Jinx Agressivo</h3>
                    <p>Foco total em dano e velocidade para sobrecarregar o oponente antes que ele possa reagir.</p>
                </div>
                <div class="deck-key-cards">
                    <img src="assets/carta_jinx.png" alt="Jinx">
                    <img src="assets/carta_vi.png" alt="Vi">
                </div>
                <a href="#" class="btn-view-deck">Ver Guia do Deck</a>
            </div>

             <h2>Tier 2</h2>
            <div class="meta-deck-item">
                <div class="deck-info">
                    <h3>Yasuo Controle</h3>
                    <p>Controle o campo com remoções e use Yasuo para finalizar o jogo com ataques poderosos.</p>
                </div>
                <div class="deck-key-cards">
                    <img src="assets/carta_yasuo.png" alt="Yasuo">
                    <img src="assets/carta_ahri.png" alt="Charm">
                </div>
                <a href="#" class="btn-view-deck">Ver Guia do Deck</a>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Riftbound Classificados. Desenvolvido por Anfisa Silvanova.</p>
    </footer>
</body>
</html>